.container{
    width: 1200px;
    margin: 0 auto;
    padding: 20px;rayo mquenn vallecanocl
}
.row-gallery{
    display: flex; 
}

.col{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: aquamarine;
    flex: 1;
    width: 33.3%
    padding-top -50px
}

.col img{
    width: 300px;
    height: 300px;
}
